.cart-container{
    /* background-color: #FECDAA; */
    /* border: 3px solid black;
    max-width: 100%;
    width: 9vw;
    height: 20vh;
    margin: 10px auto 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;
    padding: 40px 0;
    width: 7vw;
    margin-right: 10px;

  }
  @media (max-height: 1000px) and (max-width: 900px){
    #cart-container {
      margin: 0px 0px 0;
    }
  }
  #big{
    margin-top: 2vh;
    display: flex;
    width: 90vw;
    height: 22vh;
    /* border: 2px solid red; */
  }
#total-container{
  margin-right: 10px;
  text-align: center;
  padding: 60px 0;

}