*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Open sans, sans-serif;
  height: 100vh;
  background: #FCFFEB;
  /* overflow: hidden; */
}

div#slider_div{
  position: relative;
  z-index: 1;
}

div#header_div {
  width: 100%;
  z-index: 2;
  opacity: 50%;
  position: absolute;
}