div#slider_div{
    position: relative;
    z-index: 1;
  }
  
  div#header_div {
    width: 100%;
    z-index: 2;
    opacity: 100%;
    position: absolute;
  }
  
  /* scrollbar fun */
  /* ::-webkit-scrollbar{
    width:25px;
  }
  ::-webkit-scrollbar-track{
    background-color: black;
  }
  ::-webkit-scrollbar-thumb{
    background-image: linear-gradient(black,blue);
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(red,black);
    border-radius: 25px;
  } */
  .scrollhost::-webkit-scrollbar {
    display: none;
  }
  
  .scrollhost {
    overflow: auto;
    height: calc(100vh);
  }